.frontend_header {
    padding: 34px 10% 14px 10%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.83);
}

.frontend_header h1{
    font-size: 36px;
}

.frontend_header .connect_wallet .wallet_button{
    background: none;

    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: rgba(5, 6, 6, 0.85);
}

.frontend_header .connect_wallet .wallet_button i, 
.frontend_header .connect_wallet .wallet_button i img{
    width: 48px;
    height: 48px;
}

.frontend_header .connect_wallet .balance {
    background: rgba(53, 244, 84, 0.61);
    border-radius: 150px;
    font-weight: 500;
    padding: 4px 16px;
}

@media (max-width: 1895px) {
    .frontend_header h1 {
        font-size: 30px;
    }
    .frontend_header {
        padding: 30px 10% 10px 10%;
    }
    .frontend_header .connect_wallet .wallet_button i, .frontend_header .connect_wallet .wallet_button i img {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 1599px) {
    .frontend_header {
        padding: 26px 10% 8px 10%;
    }
}

@media (max-width: 1439px) {
    .frontend_header {
        padding: 22px 10% 8px 10%;
    }

    .frontend_header h1 {
        font-size: 26px;
    }
}

